<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="SQLServer" value="pooling=true;server=192.168.2.20;database=DIDI;user id=sa;password=123456;min pool size = 10;max pool size=50;"/>
  </appSettings>

</configuration>
